.home-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
}

.home-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #5D1CC6;
}

.home-container p {
  font-size: 1.1rem;
  line-height: 1.5;
}
